[class*='--view-mode-teaser'] {
  .teaser-link {
    display: block;
  }

  .field--type-image,
  .field--name-field-hero-image {
    margin-bottom: rem-calc(25);

    img {
      display: block;
    }
  }

  .field--name-field-date,
  .time {
    color: $black;
    font-size: rem-calc(14);
    font-weight: 400;
    margin-bottom: 0;
    @include breakpoint(medium) {
      margin-bottom: rem-calc(10);
    }
  }

  .title {
    margin: 0;

    a {
      @include link-inverted;
    }
  }

  .category {
    margin-bottom: 0;
    margin-top: rem-calc(5);
  }

  .body {
    display: none;
  }

  [class*='__featured'] & {
    .title {
      margin-bottom: rem-calc(27);
    }

    .body {
      display: block;
      margin-top: rem-calc(15);
    }

    div + .call-to-action {
      margin-top: rem-calc(27);
    }

    @include breakpoint(medium) {
      .content-wrapper {
        @include flex-grid-row(nest);
        align-items: flex-start;
      }

      .field--type-image {
        margin: 0;
      }

      .teaser-link,
      .content {
        @include flex-grid-column(50%);
        margin-bottom: 0;
      }

      .content {
        @include flex-grid-size(expand);
        max-width: none;
      }

      .title {
        font-size: rem-calc(28);
        line-height: rem-calc(30);
      }
    }
  }
}
