.node--type-post {
  .article-header {
    @include flex-grid-row;
    @include global-spacing;
  }

  .article-header__container {
    @include flex-grid-column;
    display: flex;
    flex-direction: column;
    align-items: center;

    > .article-title {
      margin-bottom: map-get($global-spacing, small);
      max-width: $narrow-content-width;
      @include breakpoint(medium) {
        margin-bottom: map-get($global-spacing, medium);
      }
      @include breakpoint(large) {
        margin-bottom: map-get($global-spacing, large);
      }
    }
  }

  .article-header__time {
    width: 100%;
    max-width: 58.625rem;

    > div {
      &.field--name-field-date {
        margin-bottom: 2.1875rem;
        border-bottom: 1px solid #a39b9d;
        padding-bottom: 1.25rem;
        /* margin-right: auto; */
        width: fit-content;
      }
    }

    > time {
      border-bottom: solid 1px;
      display: inline-block;
      margin-bottom: 30px;
      padding-bottom: 10px;
    }
  }

  .article-header__img {
    height: rem-calc(60);
    width: rem-calc(180);

    + .article-header__content {
      margin-top: map-get($global-spacing, small);
      @include breakpoint(medium) {
        margin-top: map-get($global-spacing, medium);
      }
      @include breakpoint(large) {
        margin-top: map-get($global-spacing, large);
      }
    }
  }

  .article-header__content {
    max-width: $narrow-content-width;
    width: 100%;
  }
}
