{#
/**
 * @file
 * Theme override for a field.
 */
#}
{%
  set classes = [
    'field',
    'field--name-' ~ field_name|clean_class,
    'field--type-' ~ field_type|clean_class,
    'field--label-' ~ label_display,
  ]
%}

{% for item in items %}
  <div{{ attributes.addClass(classes, 'field__item') }}>{{ item.embed|raw }}</div>
{% endfor %}
