{% extends 'paragraph.html.twig' %}
{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 */
#}
{% block content %}
  <section class="fifty-fifty">
    <div class="fifty-fifty__container">
      {{ content }}
    </div>
  </section>
{% endblock %}
