{% extends 'paragraph.html.twig' %}
{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 */
#}
{% block content %}
  <div class="content">
    {{ content }}
    {% if location %}
      <p class="basic-text__location">
        <svg class="icon icon--location" alt="location icon">
          <use xlink:href="#icon-location"></use>
        </svg>
        {{ location }}
      </p>
    {% endif %}
  </div>
{% endblock %}
