{% extends 'paragraph.html.twig' %}
{#
/**
 * @file
 * Theme override to display a Taskbar Paragraph.
 */
#}
{% block content %}
  <div class="supporting-information">
    {{ content }}
  </div>
{% endblock %}
