{#
/**
 * @file
 * Custom theme template.
 */
#}
<div class="boilerplates">
  {% for boilerplate in boilerplates %}
    <div class="boilerplates__boilerplate">
      {{ boilerplate }}
    </div>
  {% endfor %}
</div>
